################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/TasksAndThreads.Console/obj
/TasksAndThreads.Test/obj
/TasksAndThreads.Console/bin/*
/TasksAndThreads.Test/bin/*
/TasksAndThreads.Console/*
/TasksAndThrgit pueads.Test/bin/*
